<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.banner.dao.BannerMapper">

    <select id="queryAll" resultType="com.game.banner.domain.Banner">
        SELECT id, name, icon, link_type as linkType, link_to as linkTo
         FROM banner
        WHERE status = 1
    </select>

    <select id="queryAllAndRule" resultType="com.game.banner.domain.Banner">
        SELECT banner.id, banner_id as bannerId, name, icon, link_type as linkType, link_to as linkTo,shield_country as shieldCountry,
        specify_country as specifyCountry, shield_phone_type as shieldPhoneType, specify_phone_type as specifyPhoneType,
        album_id as albumId, album_pos as albumPos
         FROM banner
         LEFT JOIN banner_album_cfg cfg
         ON banner.banner_id = cfg.album_banner_id
        WHERE status = 1
        ORDER BY album_id, album_pos DESC
    </select>

</mapper>
