<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.solr.dao.ESMapper">

    <select id="getSolrAccounts" resultType="com.game.solr.elasearch.domain.ESAccount">
        SELECT id as accountId, CONVERT(nick_name USING utf8) AS nickName, created_at as time
        from account_info limit #{start}, #{limit};
    </select>

</mapper>