<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.face.dao.FaceMapper">

    <select id="queryAll" resultType="com.game.face.domain.Face">
        SELECT id, name, url, tag as property
        FROM emoji_info
        order by weight
    </select>

</mapper>
