<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.record.dao.GameRankingRecordMapper">

    <select id="queryGameRankingRecord" resultType="com.game.record.domain.GameRankingRecord">
        SELECT game_id as gameId, account_id as accountId, score
        FROM game_ranking_record
        WHERE game_id = #{gameId}
        ORDER BY score DESC
        limit #{limit}
    </select>

</mapper>