<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.account.dao.GodMapper">

    <select id="queryAll" resultType="com.game.account.domain.GodInfo">
        SELECT account_id as accountId, god_type as godType, win_present as winPer, total_count as totalCnt, `type`
        FROM god_info
    </select>

</mapper>
