<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.visohelper.dao.VisoMapper">

    <insert id="insertVisoMsg" parameterType="com.game.visohelper.domain.VisoInputDomain">
        insert into viso_helper(accountId, msg) values(#{accountId}, #{msg})
    </insert>

</mapper>